body {
    background-color: #ffe4bb9c;
}

h1 {
   font-family: georgia, serif;
   color: #a85b31d7;
   background-color: #fed891;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
div{
    background-color: #fff3e0;
    color: #604029cb;
    padding: 10px;
    border: 8px solid #ac8b73;
    margin 15px;
    border-radius: 8px;
}
.recipe{
    background-color: #f5d9ac;
    color: #664b38cb;
    padding: 10px;
    border: 8px solid #ac8b73;
    margin: 15px;
    border-radius: 30px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}