body {
    background-color: #ffe4bb9c;
}

h1 {
   font-family: georgia, serif;
   color: #a85b31d7;
   background-color: #fed891;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
div{
    background-color: #fff3e0;
    color: #604029cb;
    padding: 10px;
    border: 8px solid #ac8b73;
    border-radius: 8px;
}
.recipe{
    background-color: #e0ccac;
    color: #664b38cb;
    padding: 10px;
    border: 8px solid #ac8b73;
    margin: 15px;
    border-radius: 30px;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
p{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    color: #5a3e26cb;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    background-color: #fed891;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav ul li a {
   text-decoration: none;
    color: #a85b31d7;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #664431d7;
    color: #eaeaea;
}