body {
    background-color: #ffe4bb9c;
}

h1 {
   font-family: georgia, serif;
   color: #a85b31d7;
   background-color: #fed891;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}